body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#stage {
    position: absolute;
    width: 100%;
    height:100%;
    margin: 0 auto;
}
#color1,#color2,#color3,#color4,#color5 {
    position: absolute;
    float: left;
    width: 100%;
    height: 100%;
    left: 100%;
    -moz-animation: imgtrans 5s infinite;
    -webkit-animation: imgtrans 5s infinite;
    animation: imgtrans 5s infinite;
}
#color1 {
    height: 100%;
    width: 100%;
    -moz-animation-delay: 0s;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}
#color2 {
    height: 100%;
    width: 100%;
    -moz-animation-delay: 1s;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
#color3 {
    height: 100%;
    width: 100%;
    -moz-animation-delay: 2s;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}
#color4 {
    height: 100%;
    width: 100%;
    -moz-animation-delay: 3s;
    -webkit-animation-delay: 3s;
    animation-delay: 3s;
}
#color5 {
    height: 100%;
    width: 100%;
    -moz-animation-delay: 4s;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}
#frame {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
@-webkit-keyframes imgtrans {
 0% { left:100%; }
 5% { left:0%; }
 20% { left:0%; }
 25% { left:-100%; }
 100% { left:-100%; }
}
@-moz-keyframes imgtrans {
 0% { left:100%; }
 5% { left:0%; }
 20% { left:0%; }
 25% { left:-100%; }
 100% { left:-100%; }
}
@keyframes imgtrans {
 0% { left:100%; }
 5% { left:0%; }
 20% { left:0%; }
 25% { left:-100%; }
 100% { left:-100%; }
}
